{% extends 'base.html' %} {% block header %}
<h2>{{ user.username }}'s Stories</h2>
{% for story in user.story_set.all %}
<table class='table'>
    <tr>
        <td><a href="{% url 'viewstory' story.id %}">{{ story.title }}</a></td>
    </tr>
    <tr>
        <td>贡献者： {% for chapter in story.chapter_set.all %}
            <a href="{% url 'author' chapter.writter.username %}">{{ chapter.writter.username }}</a> {% endfor %}
        </td>
    </tr>
    <tr>
        <td>简介：{{ story.brief }}</td>
    </tr>
        {% if request.user.username == user.username %}
    <tr>
        <td>待审核章节:</td>
    </tr>
        {% for chapter in story.chapter_set.all %}
        {% if chapter.ifallow == 'no' %}
    <tr>
        <td>
                Chapter{{ chapter.numb }}
                 {{ chapter.subtitle }}
            <form method="POST" action="{% url 'checkchapter'%}">
        <input name = "story" value="{{story.id}}" type="hidden" />
        <input name = "chapter" value="{{chapter.id}}" type="hidden" />
        {% csrf_token %}
        <button type="submit">发布</button>
    </form>
        </td>
    </tr>
    <tr>
        <td>
            作者：
            <a href="{% url 'author' chapter.writter.username %}">{{ chapter.writter.username }}</a>
        </td>
    </tr>
    <tr>
        <td>{{ chapter.content }}</td>
    </tr>
        {% endif %}
    {% endfor %}
    {% endif %}
</table>
{% endfor %}
<h2>{{ user.username }}'s Chapters</h2> {% for chapter in user.chapter_set.all %}
<table class='table'>
    <tr>
        <td><a href="{% url 'viewstory' chapter.story.id %}">{{ chapter.story.title }}</a></td>
    </tr>
    <tr>
        <td>章节：{{ chapter.subtitle }}</td>
    </tr>
    <tr>
        <td>
            <p>正文：{{ chapter.content }}</p>
        </td>
    </tr>
</table>
{% endfor %} {% endblock %}